$w-list:320px,360px,375px,412px,414px;
$design-size:750px;
*{
    padding: 0;
    margin: 0;
    list-style: 0;
}
html{
    font-size: 100px;
}
body{
    font-size: 14px;
    background: #E5C6FA;
}
@mixin ding{
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    box-sizing: border-box;
    border-radius: 50%;
    background:#C44F00;
}
@each $w in $w-list{
    @media screen and (min-width:#{$w}){
        html{
            font-size: 100px*$w/$w-list;
        }
    /*头部*/
        .header{
            padding:0.1rem;
            position: relative;
            input{
                width: 100%;
                height: 0.6rem;
                outline: none;
                border: 0;
            }
            .add{
                @include ding;
                top: 0.3rem;
                right:0.2rem;
            }
        }
    /*内容*/
        .todulist{
            li{
                height: 0.6rem;
                width: 100%;
                line-height: 0.6rem;
                padding-left: 0.3rem;
                margin-bottom: 0.1rem;
                background: #fff;
                position: relative;
                .content{
                    color: #666;
                }
                .delet{
                    @include ding;
                    top: 0.2rem;
                    right: 0.4rem;
                    line-height: 0.3rem;
                    text-align: center;
                    color: #fff;
                    display: none;
                }
            }
            .done{
                .content{
                    color: #E8E8E8;
                }
                .delet{
                    display: block;
                }
            }
            .piao{
                animation:yi 0.8s ease 0s 1 forwards;
            }
            @keyframes yi{
                0%{
                    transform:translateX(0);
                }
                100%{
                    transform:translateX(150%);
                }
            }
        }
        #clear a{
            color: #2369B6;
            border:1px solid #666;
            border-radius:20px;
            display: inline-block;
            height:0.2rem;
            width:80px;
            text-align:center;
            line-height:0.2rem;
        }
        /*foot*/
        .foot{
            width: 100%;
            height: 0.4rem;
            position: fixed;
            bottom:1rem;
            left: 0;
            li{
                width: 33.33333%;
                box-sizing: border-box;
                height: 0.4rem;
                background: #fff;
                list-style: none;
                text-align: center;
                line-height: 0.4rem;
                float: left;
            }
            .active{
                color: #CB2D01;
            }
            .cheng{
                border-left: 1px solid #BCBCB9;
                border-right: 1px solid #BCBCB9;
            }
        }
    }
}
